<div class="container-fluid ">
    <div class="row ">
        <div class="col-3">
            <div class="clearfix">
                <img class="rounded float-left" src="frontend/staticimages/test2/qszYA1Vgow0.jpg" alt=""
                     style="height:90px;">
            </div>
        </div>
        <div class="col-4 text-right">
<div ng-repeat="b in butttons track by $index" >
            <button ng-click="changeMain($index)" class="align-middle btn btn-secondary"> {{b}}</button>
        </div>
        </div>
        <div class="col-3">
            <button ng-click="changeMain(3)" class="justify-content-center align-self-center btn btn-secondary">Обо
                мне
            </button>
            <button ng-click="changeMain(4)" class="align-middle btn btn-secondary">Прайс лист</button>
            <button ng-click="changeMain(5)" class="align-middle btn btn-secondary">Акции</button>
            <button ng-click="changeMain(6)" class="align-middle btn btn-success">Еще раз Акции</button>
        </div>
        <div class="col-2 text-right align-self-end">

            <button type="button" class="btn btn-primary" ng-click="visibleModal(1)">
                Контакты
            </button>

            <!-- Modal -->

        </div>

    </div>


</div>