<div class="container-fluid">
    <div class="row ">
        <div class="col-3">
            <div class="clearfix">
                <img class="rounded float-left" src="staticimages/test2/qszYA1Vgow0.jpg" alt="" style="height:90px;">
            </div>
        </div>
        <div class="col-7 text-right align-self-end">
            <button ng-click="changeMain(1)" class="align-middle btn btn-secondary"> Свадьбы</button>
            <button ng-click="changeMain(2)" class="align-middle btn btn-secondary"> Портреты</button>
            <button ng-click="changeMain(3)" class="justify-content-center align-self-center btn btn-secondary">Обо мне</button>
            <button ng-click="changeMain(4)" class="align-middle btn btn-secondary">Прайс лист</button>
            <button ng-click="changeMain(5)" class="align-middle btn btn-secondary">Акции</button>
            <button ng-click="changeMain(6)" class="align-middle btn btn-success">Еще раз Акции</button>

        </div>
        <div class="col-2 text-right align-self-end">

            <button class="justify-content-center align-self-center btn btn-primary">Контакты</button>
        </div>

    </div>


</div>